.elementor-19 .elementor-element.elementor-element-d62b966 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-block-start: 10px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
    --z-index: 2;
  }
  .elementor-19 .elementor-element.elementor-element-151bd80 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: space-between;
    --align-items: center;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 1px 1px 1px;
    --border-block-start-width: 1px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 1px;
    --border-inline-start-width: 1px;
    border-color: var(--e-global-color-primary);
    --border-color: var(--e-global-color-primary);
    --border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 0px 0px 0px
      rgba(241.40000000000003, 92.94356332703194, 2.623913043478273, 0.12);
    --padding-block-start: 12px;
    --padding-block-end: 12px;
    --padding-inline-start: 16px;
    --padding-inline-end: 16px;
  }
  .elementor-19 .elementor-element.elementor-element-151bd80,
  .elementor-19 .elementor-element.elementor-element-151bd80::before {
    --border-transition: 0.3s;
  }
  .elementor-19 .elementor-element.elementor-element-960a03a img {
    width: 200px;
  }
  .elementor-19 .elementor-element.elementor-element-6dc4267 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-end;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
  }
  .elementor-19
    .elementor-element.elementor-element-b4fc6bc
    .elementor-menu-toggle {
    margin: 0 auto;
  }
  .elementor-19
    .elementor-element.elementor-element-b4fc6bc
    .elementor-nav-menu
    .elementor-item {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-19
    .elementor-element.elementor-element-b4fc6bc
    .elementor-nav-menu--main
    .elementor-item {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
  }
  .elementor-19
    .elementor-element.elementor-element-b4fc6bc
    .elementor-nav-menu--main
    .elementor-item:hover,
  .elementor-19
    .elementor-element.elementor-element-b4fc6bc
    .elementor-nav-menu--main
    .elementor-item.elementor-item-active,
  .elementor-19
    .elementor-element.elementor-element-b4fc6bc
    .elementor-nav-menu--main
    .elementor-item.highlighted,
  .elementor-19
    .elementor-element.elementor-element-b4fc6bc
    .elementor-nav-menu--main
    .elementor-item:focus {
    color: var(--e-global-color-text);
    fill: var(--e-global-color-text);
  }
  .elementor-19
    .elementor-element.elementor-element-b4fc6bc
    .elementor-nav-menu--main
    .elementor-item.elementor-item-active {
    color: var(--e-global-color-text);
  }
  .elementor-19 .elementor-element.elementor-element-b4fc6bc {
    --e-nav-menu-divider-content: "";
    --e-nav-menu-divider-style: solid;
  }
  .elementor-19 .elementor-element.elementor-element-2e2b54b .elementor-button {
    background-color: transparent;
    background-image: linear-gradient(
      137deg,
      var(--e-global-color-secondary) 40%,
      var(--e-global-color-primary) 100%
    );
    border-radius: 6px 6px 6px 6px;
    padding: 12px 30px 12px 30px;
  }
  .elementor-19
    .elementor-element.elementor-element-2e2b54b
    .elementor-button:hover,
  .elementor-19
    .elementor-element.elementor-element-2e2b54b
    .elementor-button:focus {
    background-color: transparent;
    background-image: linear-gradient(
      180deg,
      var(--e-global-color-secondary) 78%,
      var(--e-global-color-secondary) 33%
    );
  }
  .elementor-19
    .elementor-element.elementor-element-2e2b54b
    > .elementor-widget-container {
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-19 .elementor-element.elementor-element-7b32740 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-block-start: 10px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
    --z-index: 2;
  }
  .elementor-19 .elementor-element.elementor-element-e8ec8e4 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: space-between;
    --align-items: center;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 1px 1px 1px;
    --border-block-start-width: 1px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 1px;
    --border-inline-start-width: 1px;
    border-color: var(--e-global-color-primary);
    --border-color: var(--e-global-color-primary);
    --border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 0px 0px 0px
      rgba(241.40000000000003, 92.94356332703194, 2.623913043478273, 0.12);
    --padding-block-start: 12px;
    --padding-block-end: 12px;
    --padding-inline-start: 16px;
    --padding-inline-end: 16px;
  }
  .elementor-19 .elementor-element.elementor-element-e8ec8e4,
  .elementor-19 .elementor-element.elementor-element-e8ec8e4::before {
    --border-transition: 0.3s;
  }
  .elementor-19 .elementor-element.elementor-element-9b2f361 img {
    width: 200px;
  }
  .elementor-19 .elementor-element.elementor-element-f34fef0 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-end;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
  }
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-menu-toggle {
    margin-left: auto;
    background-color: #ffffff;
  }
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-nav-menu
    .elementor-item {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-nav-menu--main
    .elementor-item {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
  }
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-nav-menu--main
    .elementor-item.elementor-item-active {
    color: var(--e-global-color-text);
  }
  .elementor-19 .elementor-element.elementor-element-100a7cf {
    --e-nav-menu-divider-content: "";
    --e-nav-menu-divider-style: solid;
  }
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-nav-menu--dropdown
    a,
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-menu-toggle {
    color: var(--e-global-color-accent);
  }
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-nav-menu--dropdown {
    background-color: #000000;
  }
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-nav-menu--dropdown
    a:hover,
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-nav-menu--dropdown
    a.elementor-item-active,
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-nav-menu--dropdown
    a.highlighted,
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-menu-toggle:hover {
    color: var(--e-global-color-text);
  }
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-nav-menu--dropdown
    a:hover,
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-nav-menu--dropdown
    a.elementor-item-active,
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-nav-menu--dropdown
    a.highlighted {
    background-color: var(--e-global-color-014ba06);
  }
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    .elementor-nav-menu--dropdown
    a.elementor-item-active {
    color: var(--e-global-color-text);
  }
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    div.elementor-menu-toggle {
    color: var(--e-global-color-secondary);
  }
  .elementor-19
    .elementor-element.elementor-element-100a7cf
    div.elementor-menu-toggle
    svg {
    fill: var(--e-global-color-secondary);
  }
  @media (max-width: 1024px) {
    .elementor-19
      .elementor-element.elementor-element-b4fc6bc
      .elementor-nav-menu
      .elementor-item {
      font-size: var(--e-global-typography-text-font-size);
      line-height: var(--e-global-typography-text-line-height);
    }
    .elementor-19
      .elementor-element.elementor-element-100a7cf
      .elementor-nav-menu
      .elementor-item {
      font-size: var(--e-global-typography-text-font-size);
      line-height: var(--e-global-typography-text-line-height);
    }
  }
  @media (max-width: 767px) {
    .elementor-19
      .elementor-element.elementor-element-b4fc6bc
      .elementor-nav-menu
      .elementor-item {
      font-size: var(--e-global-typography-text-font-size);
      line-height: var(--e-global-typography-text-line-height);
    }
    .elementor-19 .elementor-element.elementor-element-7b32740 {
      --padding-block-start: 10px;
      --padding-block-end: 10px;
      --padding-inline-start: 10px;
      --padding-inline-end: 10px;
    }
    .elementor-19 .elementor-element.elementor-element-e8ec8e4 {
      --flex-direction: row;
      --container-widget-width: initial;
      --container-widget-height: 100%;
      --container-widget-flex-grow: 1;
      --container-widget-align-self: stretch;
    }
    .elementor-19 .elementor-element.elementor-element-9b2f361 img {
      width: 107px;
    }
    .elementor-19
      .elementor-element.elementor-element-9b2f361
      > .elementor-widget-container {
      margin: 0px 0px 0px 0px;
    }
    .elementor-19 .elementor-element.elementor-element-f34fef0 {
      --flex-direction: column;
      --container-widget-width: calc(
        (1 - var(--container-widget-flex-grow)) * 100%
      );
      --container-widget-height: initial;
      --container-widget-flex-grow: 0;
      --container-widget-align-self: initial;
      --align-items: center;
    }
    .elementor-19
      .elementor-element.elementor-element-100a7cf
      .elementor-nav-menu
      .elementor-item {
      font-size: var(--e-global-typography-text-font-size);
      line-height: var(--e-global-typography-text-line-height);
    }
    .elementor-19
      .elementor-element.elementor-element-100a7cf
      .elementor-nav-menu--main
      > .elementor-nav-menu
      > li
      > .elementor-nav-menu--dropdown,
    .elementor-19
      .elementor-element.elementor-element-100a7cf
      .elementor-nav-menu__container.elementor-nav-menu--dropdown {
      margin-top: 2px !important;
    }
    .elementor-19
      .elementor-element.elementor-element-100a7cf
      > .elementor-widget-container {
      margin: -46px 0px 0px 0px;
    }
    .elementor-19 .elementor-element.elementor-element-100a7cf {
      width: 100%;
      max-width: 100%;
    }
  }
  